%ubumtu-light {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

%ubumtu-medium {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

%ubumtu-bolt {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

%sf-regular {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
}

%sf-semibolt {
  font-family: "SFProDisplay-Semibolt", sans-serif;
  font-weight: 600;
}